# Environments & Secrets
.env
venv/
__pycache__/

# Next.js & Node
node_modules/
.next/
out/
build/

# OS Files
.DS_Store
Thumbs.db

# Ignore Exploit-DB and all databases
*.csv
backend/files_exploits.csv
